.about_card{
    width: 90%;
    height: 60vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 4vh;
    /* margin: -3% 0 0 0; */
    background-image: url(../../Assets/project_card1.svg);
    background-repeat: no-repeat;
    background-size: contain;
      /* position: relative;
      z-index: -3; */
    /* backdrop-filter: blur(20px); */
}
/* .section3_temp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
} */
 .img0{
    width: 25%;
 }