.div_temp2{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* gap: 3vh; */
    margin: 0 4%;
    /* background-color: #54F1E9; */
}
