.faq-wrapper {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* background-color: azure; */
}

.faq-card {
  background: rgba(176, 176, 176, 0.25);
  backdrop-filter: blur(40px);
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.4s ease;
}

.faq-card.active {
  box-shadow: 0 0 18px var(--primary_color);
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--primary_color), var(--secondry_color)) 1;

}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  padding: 22px;
  color: #fff;
  font-family: var(--font_1);
  font-size: 30px;
  /* font-weight: 500; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.faq-question:hover {
  /* color: var(--accent_color); */
}

.icon {
  min-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: var(--font_2);
  font-weight: bold;
  transition: transform 0.4s ease, background 0.3s ease;
}

.faq-card.active .icon {
  transform: rotate(180deg);
  background: var(--primary_color);
  color: var(--bg_color);
}

.faq-answer {
  overflow: hidden;
  transition: max-height 0.45s ease;
  padding: 0 22px;
}

.faq-answer p {
  margin: 14px 0 22px;
  color: var(--main_color);
  font-family: var(--font_2);
  font-size: 17px;
  line-height: 1.7;
}
