.hero{
    margin-top: -70%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
    position: absolute;
    z-index: 2;
}

.hero_temp{
    padding: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6%;
    /* background-color: rgb(206, 206, 206); */
    border-radius: 40px;
    background: rgba(176, 176, 176, 0.25);
    backdrop-filter: blur(40px);
}
.hero_temp:hover{
    padding: 5.5%;
    /* border: 6px solid linear-gradient(0deg, #54F1E9 4.13%, #cd420c 80.23%); */
}

.vid{
      width: 100%;
      mix-blend-mode: plus-lighter;
}