.loop-wrapper {
width: 100%;
overflow: hidden;
position: relative;
}


.loop-track {
display: flex;
gap: 40px;
animation: scroll 18s linear infinite;
align-items: center;
padding: 20px 0;
}


.loop-track img {
height: 68px;
width: auto;
object-fit: contain;
user-select: none;
pointer-events: none;
}


@keyframes scroll {
0% {
transform: translateX(0);
}
100% {
transform: translateX(-50%);
}
}