.proj_img{
        width: 70%;
}
.proj_card{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding: 80px;
    background-image: url(../../Assets/project_card1.svg);
    background-repeat: no-repeat;
    background-size: contain;
      /* position: relative;
      z-index: -3; */
    /* backdrop-filter: blur(20px); */
}