.proj_img{
        width: 70%;
}
.proj_card{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    /* margin: -3% 0 0 0; */
    background-image: url(../../Assets/project_overview.svg);
    background-repeat: no-repeat;
    background-size: contain;
      /* position: relative;
      z-index: -3; */
    /* backdrop-filter: blur(20px); */
}