.project_card{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;
    margin: -2% 0 0 0;
    background-image: url(./../Assets/projectbg1.svg);
    background-repeat: no-repeat;
    background-size: contain;
      /* position: relative;
      z-index: -3; */
    /* backdrop-filter: blur(20px); */
}