.error_cta{
    padding: 14px 4%;
    border-radius: 40px;
    border: 3px solid rgba(176, 176, 176, 0.20);
    background: rgba(176, 176, 176, 0.20);
    box-shadow: 6px -6px 8px 0 rgba(0, 0, 0, 0.25) inset, -6px 6px 8px 0 rgba(255, 255, 255, 0.25) inset;
    color: var(--main_color);
    font-family: var(--font_2);
    font-size: var(--p);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    margin: 19% 0 0 50%;
}
.error_cta:hover{  
    border: 3px solid linear-gradient(0deg, #54F1E9 4.13%, #4557C8 80.23%);
    background: linear-gradient(90deg, rgba(84, 241, 233, 0.40) -3.66%, rgba(69, 87, 200, 0.40) 103.24%);
    box-shadow: 6px -6px 8px 0 rgba(0, 0, 0, 0.25) inset, -6px 6px 8px 0 rgba(255, 255, 255, 0.25) inset, 0 0 16.3px 0 rgba(84, 241, 233, 0.55);
    backdrop-filter: blur(40.400001525878906px);
}
.error_img{
     width: 100%;
    height: 100vh;
}