@import "tailwindcss";
:root{
    --h1: 4vw;
    --h2: 2.2vw;
    --h3: 1.8vw;
    --p: 1.4vw;
    --font_1: 'party vibes';
    --font_2:  'Nunito', sans-serif;;
    --bg_color: #150633;
    --main_color: #ffffff;
    --primary_color: #54F1E9;
    --secondry_color: #4557C8;
    --accent_color: #FB8B8F;
  }
body{
    margin: 0;
    padding: 0;
    background-color: #150633;
}
.nav{
    position: fixed;
    z-index: 9;
    background-color: rgba(176, 176, 176, 0.4);
    backdrop-filter: blur(25px);
}
.nav-logo {
  width: 70px;
  height: auto;
  display: block;
  margin: 0 auto;
  filter: none;
  transition: transform 0.3s ease;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.none{
  text-decoration: none;
   color: var(--main_color);
    font-family: var(--font_2);
    font-size: var(--p);
    font-weight: bold;
}

.vid{
      width: 100%;
      mix-blend-mode: plus-lighter;
}

.port_temp{
  /* position: relataive;
  z-index: -6; */
  /* background-color: #FB8B8F; */
}
.me_temp{
  /* width: 50%; */
  width: 100%;
  float: right;
  position: absolute;
  /* z-index: 2; */
  margin: -30% 0 0 0;
  /* padding: 60% 0 0 50%; */
  /* padding: 0% 0 0 50%; */
  /* background-color: #54F1E9; */
}

.section_temp1{
    /* width: 100%; */
    height: 120vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 4%;
    margin: -7% 0 0 0;
    background-image: url(./../Assets/portfolio_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
      /* position: relative;
      z-index: -3; */
    /* backdrop-filter: blur(20px); */
}

.top_temp{
    margin-top: 10%;
}

.div_temp{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 0 0 0 8%;
    /* background-color: #54F1E9; */
}

.section2_temp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #FB8B8F; */
}

.section_temp0{
    /* width: 100%; */
    /* height: 120vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    /* backdrop-filter: blur(20px); */
    /* background-color: #FB8B8F; */
}

.img_temp{
    width: 60%;
    /* height: 80vh; */
    /* background-color: grey; */
}

.top_temp2{
  margin-top: 5%;
}

.q_h2{
  width: 50%;
  margin: 0;
}