.overview_card{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 4%;
    margin: -2% 0 0 0;
    background-image: url(./../Assets/project_overview.svg);
    background-repeat: no-repeat;
    background-size: cover;
      /* position: relative;
      z-index: -3; */
    /* backdrop-filter: blur(20px); */
}