.h1_temp{
    width: 100%;
    font-family: var(--font_1);
    font-size: var(--h1);
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255); 
    color: transparent;
    background-clip: text;
    text-shadow: 
    2px -2px 4px rgba(255, 255, 255, 0.6),
    2px 2px 4px rgba(0, 0, 0, 0.35);
}